{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>cek nilai uhuy</title>
{% endblock meta %}

{% block content %}
<div style="text-align: center;">
  <p>copas nilai dari siak ya gais contoh:</p>
  <p>Quiz1 50% 100.00</p>
  <p>Quiz 2 50% 100.00</p>
  <form action ="" method="POST">
    {% csrf_token %}
    
    <br>
    <br>
    <textarea rows = "5" cols = "60"name="detail" style="width: 500px;"></textarea><br>
    <button type="submit">SUBMIT</button>
  </form>
  {% if eror == '' %}
    {% for f in butir %}
    <p>{{f}}</p>
    {% endfor %}

    {% for f in finals %}
    <h1>{{f}}</h1>
    {% endfor %}
  {% endif %}

  {% if eror != '' %}
  
  <p>{{eror}}</p>
  
  {% endif %}

</div>
{% endblock content %}
